@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<div class="wrapper">       
        <form id="account" method="post">           
            <h1>@ViewData["Title"]</h1>                   
            <div class="input-box">
                <input asp-for="Input.Email" type="email" placeholder="Email" required />
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input asp-for="Input.Password" type="password" placeholder="Password" required />
                <i class="bx bxs-lock-alt"></i>
            </div>  
            
            <div class="remember-forgot">
                <label> <input type="checkbox" asp-for="Input.RememberMe"> Remember me</label>
            </div>

            <div class="input-box">
                <button id="login-submit" type="submit" class="btn">Login</button>
            </div>  
            <div class="register-link">
            <p>Dont't have an account ? <a href="/Identity/Account/Register">Register</a></p>
            </div>
        </form>       
</div>

@section Scripts {
            <partial name="_ValidationScriptsPartial" />
}
